.Allhelp{
    width: 100%;
    height: 100%;
}
.promotion {
    width: 100%;
    min-height: 100%;
    background: rgba(242, 242, 242, 1);
    .zhanwei {
      width: 100%;
      height: 20px; /*px*/
    }
    .help_HeaDer {
      width: 100%;
    
      background: rgba(255, 255, 255, 1);
  
      .help_HeaDer_home {
        width: 90%;
        margin: auto;
        height: 112px; /*px*/
        display: flex;
        align-items: center;
        img {
          width: 20px; /*px*/
        }
        div:nth-child(1) {
          width: 30%;
          font-size: 32px; /*px*/
          font-family: PingFangSC-Medium, PingFang SC;
          font-weight: 600;
          color: rgba(51, 51, 51, 1);
        }
        div:nth-child(2) {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          font-size: 32px; /*px*/
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: rgba(51, 51, 51, 1);
          span {
            display: inline-block;
          }
          span:nth-child(1) {
            margin-right: 20px; /*px*/
          }
          span:nth-child(2) {
            margin-right: 16px; /*px*/
          }
        }
      }
    }
    .xingshi {
       width: 90%;
      margin: auto;
      font-size: 32px; /*px*/
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 600;
      color: rgba(51, 51, 51, 1);
      margin-top: 42px; /*px*/
    }
    .userType {
      width: 90%;
      margin: auto;
     
      .miaoshu {
        font-size: 28px; /*px*/
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        margin-top: 20px; /*px*/
      }
 
      .user_img{
          margin-top: 30px;/*px*/
          width: 80%;
      }
      .Claim{
          margin-top: 20px;/*px*/
        font-size:34px;/*px*/
        font-family:PingFangSC-Medium,PingFang SC;
        font-weight:500;
        color:rgba(51,51,51,1);
      }
      .Claim_size{
        margin-top: 20px;/*px*/
        font-size:28px;/*px*/
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(51,51,51,1);
        span{
            display: inline-block;
            margin-left: 10px;/*px*/
        }
      }
    }
  }
  .interests {
    width: 90%;
    margin: auto;
    color: rgba(51, 51, 51, 1);
    .zhanwei {
      width: 100%;
      height: 40px; /*px*/
    }
    header {
      font-size: 28px; /*px*/
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      line-height: 35px; /*px*/
    }
    nav {
      width: 100%;
      margin-top: 40px; /*px*/
      h2 {
        font-size: 30px; /*px*/
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 600;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          width: 100%;
        // display: flex;
          margin-top: 15px;/*px*/
          font-size: 28px; /*px*/
          line-height: 35px; /*px*/
          .heidian {
            width: 8px;
            height: 8px;
            display: inline-block;
            border-radius: 50%;
            margin-right: 8px;     /*px*/     
            overflow: hidden;
            background-color: black;
          }
          .redconcat {
            color: red;
          }
        }
      }
    }
  }
  .select-area{
    position: relative;
    overflow: hidden;
  }
  .select-area select{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
  }