.Already_paid {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;

  .Already_paid_zhanwei{
    width: 100%;
    height: 10px;/*px*/
  }
  
  .Already_paid_home{
    width: 95%;
    margin: auto;
    background-color: white;
    margin-top: 20px;/*px*/
    padding-bottom: 50px;/*px*/
    // border-top-left-radius: 20px;/*px*/
    // border-top-right-radius: 20px;/*px*/
  border-radius: 20px;/*px*/
 
   
  }
}
