.zhanwei_yanse {
  width: 100%;
  height: 21px; /*px*/
  background: rgba(235, 235, 235, 1);
}
.tabBar {
  width: 100%;
  // margin-bottom: 20px;/*px*/
  ul {
    display: flex;
    li {
      height: 80px; /*px*/
      line-height: 80px; /*px*/
      width: 33.3%;
      text-align: center;
      font-size: 30px; /*px*/
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 600;
      color: rgba(51, 51, 51, 1);
    }
    .onActive {
      border-bottom: 3px solid rgba(235, 51, 24, 1); /*px*/
      color: rgba(235, 51, 24, 1);
    }
  }
}
.SaleRelease {
  width: 100%;
  min-height: 100%;
  background-color: #f2f2f2;
  .header_border_bottom {
    width: 100%;
    height: 3px; /*px*/
    background-color: #f2f2f2;
  }
  .zhanwei {
    width: 100%;
    height: 21px; /*px*/
  }
}
.Footer_zhanwei {
  width: 100%;
  height: 100px; /*px*/
}
.adddelte {
  width: 95%;
  margin-left: 2.5%;
  border: none;
  height: 96px; /*px*/
  line-height: 96px; /*px*/
  background: rgba(215, 48, 45, 1);
  border-radius: 26px; /*px*/
  font-size: 34px; /*px*/
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  position: fixed;
  bottom: 20px; /*px*/
}
button:disabled
{ 
opacity: 0.5;
}
.Increase_title {
  width: 95%;
  margin: auto;
  background-color: white;
  height: 116px; /*px*/
  line-height: 116px; /*px*/
  border-bottom: 1px solid rgba(218, 221, 225, 1);
  font-size: 36px; /*px*/
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 600;
  color: rgba(51, 51, 51, 1);
  span {
    display: inline-block;
    margin-left: 28px; /*px*/
  }
}

.SaleDetails {
  width: 100%;
  .SaleDetails_title {
    width: 95%;
    margin: auto;
    background-color: white;
    height: 116px; /*px*/
    line-height: 116px; /*px*/
    border-bottom: 1px solid rgba(218, 221, 225, 1);
    font-size: 36px; /*px*/
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 600;
    color: rgba(51, 51, 51, 1);
    span {
      display: inline-block;
      margin-left: 28px; /*px*/
    }
  }
  .Collection {
    width: 95%;
    margin: auto;
    margin-top: 40px; /*px*/
    .Collection_miaoshu {
      font-size: 30px; /*px*/
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: rgba(51, 51, 51, 1);
    }
    textarea {
      width: 100%;
      height: 200px; /*px*/
      margin-top: 22px; /*px*/
      　resize: none;
      border: none;
      font-size: 30px; /*px*/
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: rgba(51, 51, 51, 1);
    }
    .upimage {
      margin-top: 15px; /*px*/
      // display: flex;
      width: 100%;
      margin-bottom: 24px; /*px*/
      .upimage_arr {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        div {
          position: relative;
          margin: 10px 10px; /*px*/
          img:nth-child(1) {
            width: 158px; /*px*/
            height: 158px; /*px*/
          }
          img:nth-child(2) {
            position: absolute;
            right: -10px; /*px*/
            top: -10px; /*px*/
            width: 32px; /*px*/
            // margin-left: 15px; /*px*/
          }
        }
        .add_upimage {
          width: 158px; /*px*/
          height: 158px; /*px*/
          margin-top: 10px; /*px*/
          margin-left: 15px; /*px*/
        }
      }
    }
  }
  .Expiration {
    width: 90%;
    margin: auto;
    margin-top: 30px; /*px*/
    display: flex;
    justify-content: space-between;
    div {
      font-size: 30px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #000000;
      .zhonyao {
        color: #eb3318;
      }
      input {
        border: none;
        width: 50px;
      }
    }
  }
  .dinbu {
    position: absolute;
    bottom: 20px; /*px*/
  }
}
.am-toast {
  font-size: 0.386667rem !important;
}
.SaleReleaseSeach {
  width: 100%;
  // background-color: #f5f5f5;
  background: #ffffff;
  min-height: 100%;
  overflow: hidden;
  .Useach {
    padding-top: 30px; /*px*/
    width: 95%;
    display: flex;
    align-items: center;
    margin: auto;

    // background-color: white;
    .Goreturn {
      width: 35px; /*px*/
      height: 35px; /*px*/
    }
    .Useachhome {
      padding-left: env(safe-area-inset-left);
      padding-left: constant(safe-area-inset-left);
      padding-right: env(safe-area-inset-right);
      padding-right: constant(safe-area-inset-right);
      padding-bottom: env(safe-area-inset-bottom);
      padding-bottom: constant(safe-area-inset-bottom);
      padding-top: env(safe-area-inset-top);
      padding-top: constant(safe-area-inset-top);
      padding: 21px;

      height: 40px; /*px*/
      margin: auto;
      width: 80%;
      display: flex;
      align-items: center;
      background: #ececec;
      border-radius: 11px; /*px*/
      img {
        width: 30px; /*px*/
        margin-left: 18px; /*px*/
      }
      input {
        // line-height: 64px; /*px*/
        flex: 1;
        // background: rgba(242, 242, 242, 1);
        background: #ececec;
        line-height: 40px; /*px*/
        margin-left: 18px; /*px*/
        font-size: 28px; /*px*/
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        border: none;
        color: rgba(153, 153, 153, 1);
      }
    }
    .searchFo {
      font-size: 34px; /*px*/
      font-family: PingFang SC;
      font-weight: 400;
      color: rgba(51, 51, 51, 1);
    }
    .hot_word {
      width: 100%;
      input {
        // top: -16px; /*px*/
      }
    }
  }
  .Useach_boder_ {
    width: 100%;
    height: 1px;
    background-color: #f2f2f2;
    margin-top: 14px; /*px*/
  }

  .tab_ {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 80px; /*px*/
    line-height: 80px; /*px*/
    li {
      text-align: center;
      width: 30%;
      font-size: 32px; /*px*/
      font-family: PingFang SC;
      font-weight: 400;
      color: rgba(51, 51, 51, 1);
    }
    .active {
      border-bottom: 4px solid #d9302d; /*px*/
      border-radius: 2px;
    }
  }
  .Contents {
    width: 90%;
    margin: auto;
    margin-top: 46px; /*px*/
    font-size: 28px; /*px*/
    font-family: PingFang SC;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    .Contents_title {
      font-size: 28px; /*px*/
      font-family: PingFang SC;
      font-weight: 400;
      color: rgba(102, 102, 102, 1);
      margin-bottom: 32px; /*px*/
    }
    ul {
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      li {
        background: rgba(245, 245, 245, 1);
        border-radius: 7px; /*px*/
        width: auto;
        margin: 7px; /*px*/
        padding: 18px 29px; /*px*/
        font-size: 28px; /*px*/
        font-family: PingFang SC;
        font-weight: 500;
        color: rgba(51, 51, 51, 1);
      }
    }
  }
  .Ul_seach {
    width: 100%;
    li {
      width: 95%;
      margin: auto;
      height: 80px; /*px*/
      line-height: 80px; /*px*/
      font-size: 26px; /*px*/
      font-family: PingFang SC;
      font-weight: 400;
      border-bottom: 1px solid #ECECEC;
      color: rgba(51, 51, 51, 1);
    }
  }
}
